certifi
cycler
easydict
kiwisolver
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
protobuf==3.20.*
pyparsing
python-dateutil
pytz
scikit-learn==0.24.2
scipy==1.5.4
six
tensorboardX
torch==1.9.0+cpu
torchvision==0.10.0+cpu
tqdm
